<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matheus.reunioesdemolayes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gcees"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gcees"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="domain.controller.ListarCapitulo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="domain.controller.ListarReunioes"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="domain.controller.Informacoes"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="domain.controller.CapituloDetalhado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="domain.controller.ProximasReunioes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>